<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon.jpg">
        <title>{{ title }}</title>
        <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101198129);</script>
        <script async src="//static.getclicky.com/js"></script>
    </head>
    
    <body>
        <div class="topNav" id="topNavBar">
            <a href="https://jdalamo.com/" class="navLink">JD</a>
            <a href="https://jdalamo.com/music" class="navLink">Music</a>
            <a href="https://jdalamo.com/video" class="navLink">Video</a>
            <a href="https://jdalamo.com/projects" class="navLink">Projects</a>
            <a href="https://jdalamo.com/contact" class="navLink">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="expandMenu()">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        {{{ body }}}
    </body>
    <script>
        function expandMenu() {
            var navBar = document.getElementById("topNavBar");
            if (navBar.className === "topNav") {
                navBar.className += " responsive";
            } else {
                navBar.className = "topNav";
            }
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }
    </script>
</html>
