<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <title>{{ title }}</title>   
    </head>
    
    <body>
        <div class="topNav" id="topNavBar">
            <a href="http://localhost:3000/" class="navLink">JD</a>
            <a href="http://localhost:3000/media" class="navLink">Media</a>
            <a href="http://localhost:3000/projects" class="navLink">Projects</a>
            <a href="http://localhost:3000/blog" class="navLink">Blog</a>
            <a href="http://localhost:3000/contact" class="navLink">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="expandMenu()">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        {{{ body }}}
    </body>
    <script>
        function expandMenu() {
            var navBar = document.getElementById("topNavBar");
            if (navBar.className === "topNav") {
                navBar.className += " responsive";
            } else {
                navBar.className = "topNav";
            }
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }
    </script>
</html>