body {
    background: white;
}

.content_grid {
    display: grid;
    padding-top: 76px;
    grid-template-columns: 80px 1fr 80px;
}

.content {
    grid-column: 2 / 3;
}

@media screen and (max-width: 1000px) {
    .content_grid {
        padding-top: 150px;
    }
}