body {
    background: black;
}

.grid {
    display: grid;
    padding-top: 76px;
    grid-template-columns: 80px 1fr 80px;
}

.content {
    grid-column: 2 / 3;
    color: white;
}

@media screen and (max-width: 1000px) {
    .grid {
        padding-top: 170px;
        font-size: 50px;
    }
}