body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: black;
}

.topNav {
    position: fixed;
    z-index: 10; /*fix for media page--nav bar underneath videos*/
    background-color: #474e59;
    width: 100%;
    overflow: hidden;
}

.topNav a {
    float: left;
    display: block;
    padding: 20px 20px;
    color: lightblue;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.topNav a:hover {
    background-color: #5f6875;
    color: black;
}

.topNav .icon {
    display: none;
}

/* makes hamburger menu button visible on smaller screens */
@media screen and (max-width: 1000px) {
    .topNav a:not(:first-child) {display: none;}
    .topNav a.icon {
        float: right;
        display: block;
    }
}

/* makes links appear when hamburger menu is clicked */
@media screen and (max-width: 1000px) {
    .topNav.responsive {position: relative;}
    .topNav.responsive  a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topNav a {
        padding: 40px 40px;
        font-size: 50px;
    }
}