#album_form {
    display: flex;
    padding: 20px;
    padding-top: 100px;
}

.video_grid {
    display: grid;
    padding: 20px;
    /* z-index: auto; */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-auto-flow: dense; /* necessary to get rid of blank cells as best as possible */
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.vidDiv {
    position: relative;
    padding-top: 56.25%; /* iframes don't care about aspect ratio, so this makes them keep 16:9 */
}

.favorite {
    grid-column: span 2; /* same as doing 'auto / span 2' */
    grid-row: span 2;
}

@media screen and (max-width: 1000px) {
    #album_form {
        padding-top: 170px;
        justify-content: center;
    }
    #album_selector {
        width: 500px;
        font-size: 30px;
        padding: 10px;
        text-overflow: ellipsis;
    }
    #submit_button {
        font-size: 30px;
    }
}