<link rel="stylesheet" type="text/css" href="/css/2020.css" />

<div class="content_grid">
    <div class="content">
        <h1 class="title">Jo Jorgensen 2020</h1>
        <p>
            I’m going to put the TL;DR in front of this post because we live in the social media age
            and I understand most people won’t read all of this.
        </p>
        <p>
            TL;DR: Trump sucks, Biden sucks, the two-party system that got us in this position sucks.  Vote for a different
            party than these two so we can give more power back to the people.  One potential candidate is Howie Hawkins, the
            Green Party candidate. However, my vote this November is going to Jo Jorgensen, the female Libertarian party candidate.  
        </p>
        <p>
            You are probably more libertarian than you think, read more about the party’s values 
            <span><a href="https://www.lp.org/platform/" target="_blank", rel="noopener">here</a></span>.  
        </p>
        <p>
            Brief overview: The libertarian party is about shrinking the size of the government and giving people
            more freedoms.  Libertarians believe in rights for everyone which means equal rights for minorities,
            LGBTQIA+, and sex workers.  Libertarians believe in the legalization of weed, among other drugs, and
            reigning in the power of police.  Libertarians believe in prohibiting the government from incurring debt,
            which burdens future generations without their consent.  
        </p>
        <hr>
        <p>
            Over the course of the last few months I have lost a lot of faith in the authorities of this country.
            From the mishandling of the coronavirus that has prolonged its effects and lead to preventable deaths,
            to the systemic issues within our police force, to Congress’s efforts to sneak through a piece of
            legislation that would 
            <span><a href="https://mashable.com/article/earn-it-act-threatens-privacy-encryption-section-230/" target="_blank", rel="noopener">end online encryption as we know it</a></span>, causing services we rely on,
            such as secure online banking and privacy, to vanish.  In November we have a chance to vote in someone new
            who can hopefully change some of these things for the better.  But that someone new isn’t Joe Biden.  A
            great tragedy of our political process is this false notion that if you don’t vote for one of the two major 
            party representatives you’re “throwing your vote away.”  This is a lie propagated by those who benefit from
            this two party system.  George Washington himself warned against the two party system in his farewell address.
            The two party system leads people to hate and fight each other instead of directing their unhappiness at our
            leaders.  It allows a convenient scapegoat for any person in charge to blame the problems of government on “the
            Republicans” or “the Democrats” instead of their own shortcomings.  Both parties are the same, they’re both
            trying to increase their own power.
        </p>
        <p>
            Republicans run on smaller government and reducing your taxes, but what
            happened in 2016 when they controlled the House, the Senate, and the Presidency?  They cut taxes for
            corporations and did nothing to handle the ballooning federal debt.  On top of that, no modern Republican
            president has cut the size of the federal fiscal footprint.  In fact, Republican administrations generally
            increase the amount spent at a faster rate than Democratic administrations do.  Right now we have a Republican president
            who has directed federal troops from the military, border control, and national guard to insert themselves
            into the city of Portland and drive around in unmarked rental cars to arrest peaceful protesters without providing
            their names, a badge number, or even so much as what branch of the military they are in.  And forget about them
            reading you your Miranda rights. <span><a href="https://www.aljazeera.com/news/2020/07/oregon-officials-blast-blatant-abuse-power-federal-troops-200717203811566.html" target="_blank" rel="noopener">Source</a></span>.
        </p>
        <p>
            Democrats run on a platform that includes empowering minorities like women and people of color, but look
            at the last two presidential candidates they’ve put up:  Hillary Clinton actively intimidated women who
            accused her husband Bill of rape in order to silence them (source: <span><a href="https://nypost.com/2020/01/25/juanita-broaddrick-shuns-hillary-clinton-doc-to-watch-that-woman-talk-is-torture/" target="_blank" rel="noopener">Juanita Broaddrick</a></span>)
            and Joe Biden, who besides using the N-word in a congressional hearing in 1985
            has, himself, been accused by no less than eight women (some of whom were children at the time) of sexually
            assaulting them.  Bernie Sanders, who I think is the most genuinely good person whose run for president in a
            while, had the democratic primary rigged against him in 2016 by the DNC (read more about it
            <span><a href="https://www.nytimes.com/2016/07/23/us/politics/dnc-emails-sanders-clinton.html" target="_blank", rel="noopener">here</a></span>
            and <span><a href="https://www.politico.com/story/2017/03/donna-brazile-hillary-clinton-leak-regret-236184" target="_blank", rel="noopener">here</a></span>).
        </p>
        <p>
            We are conditioned to see the opposite party of what we support as evil and anyone who discredits our party as an
            enemy.  But the line of thinking that says anyone who doesn’t completely agree with me is my enemy is as poisonous
            as it gets.  I believe this is to do with the conflation of our political alignment with our entire identity.
            We need to wake up and see that there is no difference between a Democrat and a Republican, they are
            just opposite sides of the same coin.  And one defining characteristic of that coin is the pursuit of power.
            Think about it: the only reason someone would go through a presidential race, or even a Congressional race, is
            because they want power.  You don’t make THAT much money from being president, and everyone who has won it recently
            has had more than enough money (Trump is famously donating his entire salary).  If people really were running for
            positions of power altruistically, they wouldn’t care about winning.  They would simply voice their platform and the
            policies they stand for, and let the American people decide.  If they don’t win, then no big deal—the American people
            wanted someone else.  The only reason to spend tens or hundreds of millions of dollars on a campaign is if you are profiting
            more than that in power.
        </p>
        <p>
            All of this is to say that I think the best decision we can make this upcoming November is to vote third-party.
            If we don’t we are just perpetuating the cycle of electing a corrupt, spineless, power-hungry, self-interested, authoritarian,
            despot.  We’ve had a black president, now what about a woman?  Jo Jorgensen is the Libertarian Party’s candidate
            and she is who I will be voting for this November.  If you don’t have a problem with the two-party system then I can
            understand why you might consider my decision to vote third party a wasted vote.  I've heard the argument going around on
            social media that even if you don't like Biden, a vote for him is a vote for two Supreme Court Justices, among other appointments.
            But voting for a major party's candidate is just giving them more power over us.  A vote for Biden or Trump is a vote for the status quo, a
            vote to continue allowing the two major parties to limit our options for president, no matter how unfit the candidates they deem "acceptable" are.
            But if you can see the flaws inherent in this system that the <span><a href="https://www.history.com/news/founding-fathers-political-parties-opinion" target="_blank" rel="noopener">founding fathers themselves warned against</a></span>, then it should be clear that we, the people, need more
            options.  And the only way to do that is to legitimize another party so that they can start to even the playing field.  According to the Commission
            on Presidential Debates, if a third-party candidate can manage to get the “support of at least 15 percent of the national electorate
            as determined by five selected national public opinion polling organizations, using the average of those organizations' most recently
            publicly reported results at the time of the determination," then they can have a place in the presidential debates.  Please consider doing
            so this November.  And if you agree with this sentiment please share this.
        </p>
    </div>
</div>
