 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
 <link rel="stylesheet" type="text/css" href="/css/home.css" />

<div class="image_grid">
    <h1 id="firstName" class="myName">JD</h1>
    <h1 id="lastName" class="myName">del Alamo</h1>
    <ul id="sm_links">
        <li>
            <a href="https://www.linkedin.com/in/jd-delalamo/" target="_blank", rel="noopener">
            <i id="linkedin" class="fab fa-linkedin fa-3x"></i></a>
        </li>
        <li>
            <a href="https://github.com/jdalamo" target="_blank", rel="noopener">
            <i class="fab fa-github fa-3x"></i></a>
        </li>
    </ul>
</div>
<div class="content_grid">
    <div class="content">
        <h1 id="talking">Talking about myself</h1>
        <p id="intro">
            My name is JD.  I'm currently a Junior at The University of Texas working toward a Bachelor's in MIS with a minor in finance.
            I was introduced to basic programming in Python and SQL through my MIS coursework, but have since made considerable progress
            teaching myself beyond what I learned in class.  The purpose of this website is two-fold: first to learn the basics
            of web development using JavaScript, HTML, and CSS; and second to have a platform other than my resume with which to showcase
            my skills and interests.
        </p>
        <p>
            On this site you will find the things I'm currently interested in and/or working on.  I have sections for 
            <span><a href="https://jdalamo.com/media">the video I shoot</a></span>,
            <span><a href="https://jdalamo.com/projects">the projects I'm working on</a></span>, and
            <span><a href="https://jdalamo.com/blog">stuff I feel like writing about</a></span>.
        </p>
    </div>
</div>
