 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
 <link rel="stylesheet" type="text/css" href="/css/home.css" />

<div id="image_grid">
    <h1 id="first_name" class="my_name">JD</h1>
    <h1 id="last_name" class="my_name">del Alamo</h1>
    <ul id="sm_links">
        <li>
            <a href="https://www.linkedin.com/in/jdalamo/" target="_blank" rel="noopener">
            <i id="linkedin" class="fab fa-linkedin fa-3x"></i></a>
        </li>
        <li>
            <a href="https://github.com/jdalamo" target="_blank" rel="noopener">
            <i class="fab fa-github fa-3x"></i></a>
        </li>
    </ul>
    <a id="scroll_button" href="#content_grid"><i class="fas fa-angle-double-down"></i></a>
</div>
<div id="content_grid">
    <div class="content">
        <h1 id="talking">About Me</h1>
        <p id="intro">
            My name is JD.  I'm currently a Senior at The University of Texas working toward a Bachelor's in MIS with a minor in accounting.
            I was introduced to basic programming in Python and SQL through my MIS coursework, but have since made considerable progress
            teaching myself beyond what I learned in class.  I have a passion for problem-solving that should hopefully be evident in my
            <span><a href="https://jdalamo.com/projects">projects</a></span> section.  I am largely self-taught, which I believe to be a strength
            as it demonstrates a love of learning and the capability to grasp a wide range of topics on my own.  The purpose of this website is
            two-fold: first, since I naturally enjoy backend development more, to learn the basics of web development using JavaScript, HTML,
            and CSS; and second to have a platform other than my resume with which to showcase my skills and interests.
        </p>
        <p>
            On this site you will find sections for 
            <span><a href="https://jdalamo.com/video">the videos I shoot</a></span>,
            <span><a href="https://jdalamo.com/music">my music</a></span>, and
            <span><a href="https://jdalamo.com/projects">my projects</a></span>.
        </p>
    </div>
</div>
