 <link rel="stylesheet" type="text/css" href="/css/music.css" />

<div id="album_form">
    <form action="/get-music-album" method="POST">
        <select name="album_selector" id="album_selector">
            <option value="ukulele">Ukulele</option>
        </select>
        <input id="submit_button" type="submit" value="Submit" />
    </form>
</div>

<div class="video_grid">
    {{# each videos }}
        {{# if this.favorite }}
            <div class="vidDiv favorite">
                <iframe frameBorder="0" allowfullscreen="allowfullscreen"
                    src={{ this.link }}>
                </iframe>
            </div>
        {{ else }}
            <div class="vidDiv">
                <iframe frameBorder="0" allowfullscreen="allowfullscreen"
                    src={{ this.link }}>
                </iframe>
            </div>
        {{/if}}
    {{/each}}
</div>