 <link rel="stylesheet" type="text/css" href="/css/music.css" />

<div id="album_form">
    <form action="/get-music-album" method="POST">
        <select name="album_selector" id="album_selector">
            <option value="ukulele">Ukulele</option>
        </select>
        <input id="submit_button" type="submit" value="Submit" />
    </form>
</div>

<div class="video_grid">
    <iframe frameBorder="0" allowfullscreen="allowfullscreen"
        src=https://youtu.be/olKPpL33Yqk>
    </iframe>
</div>